.row{:style => "display:inline-block"}
    .span3.well
        %form{ action: "/login", method: "post", style: "height:248px"}
            %legend{style: "padding-bottom:42px"} Login to Instagroom
            %input.span3{name: "username", placeholder: "Username" ,type: "text" }
            %input.span3{name: "password", placeholder: "Password" ,type: "password" }
            %span{:style => "display:block; "}
                Remember me?
                %input{:type => "checkbox", :name =>"remember"}
            %a Forgot your password?
            %button.btn.btn-info{type: "submit"} Login
    .span3.well
        %form{ action: "/users", method: "post"}
            %legend Sign up to Instagroom
            %input.span3{name: "user[email]", placeholder: "Email", type: "text" }
            %input.span3{name: "user[username]", placeholder: "Username" ,type: "text" }
            %input.span3{name: "user[password]", placeholder: "Password" ,type: "password" }
            %button.btn.btn-info#signup{type: "submit"} Sign up

