#container
    - flash.each do |key, value|
        .alert{ :class => "alert-#{key}" }
            %button.close{ :onclick => "dismiss(this)" } x
            %strong
                = value
    .row
        %img{:src => "/assets/instagroom logo.png"}
    %hr
    -unless @currentuser
        = render partial: 'login'
    -else
        %section#posts
            %ul.thumbnails
                - @posts.each do |post|
                    = render  "posts/post", :post => post, :user => @currentuser
                    %hr


