.row-fluid{ :style => "margin:auto;"}
    %span{:style => "display:inline-block"}
        %li.thumbnail
            %a.thumbnail
                %img{ :src => "/uploads/#{@user.username}/#{post.id}/image",:style => "display:block; max-width:600px"}
            .caption
                %blockquote{:style => "margin:10 10 10 20"}
                %p= " " + post.content
