:javascript
    var pixastic = undefined;
    function none(img)
    {
    if(pixastic)
    Pixastic.revert(pixastic)
    }
    function sepia(img) {
        if(pixastic)
       Pixastic.revert(pixastic)
        var img2 = Pixastic.process($("#imagepreview")[0], "sepia");
        pixastic = img2;
      }
        function grayscale(img) {
        if(pixastic)
       Pixastic.revert(pixastic)
        var img2 = Pixastic.process($("#imagepreview")[0], "desaturate");
        pixastic = img2;
      }
      var temp;
     $(document).ready(function()
     {
       $("#submit").click(function() {
       var oMyForm = new FormData($("#new_post")[0]);
        var oReq = new XMLHttpRequest();
        if($('canvas')[0]){
              if ($('canvas')[0].toBlob) {
      $('canvas')[0].toBlob(
        function (blob) {

            oMyForm.append("file", blob);
        },
        'image/jpeg'
          );
        }}
        oReq.open("POST", "/users/1/posts");
        oReq.onload = function(){
        var oBlob = new Blob([oReq.response], { type: "text/html"})
        objectURL = window.URL.createObjectURL(oBlob);
        console.log(objectURL)
        }
        oReq.send(oMyForm);
        return false;
       });
       $("#imagepreview").click(fullscreen)
        });

.row{:style => "display:inline-block"}
    %h1.page-header.offset4{:style => "display:inline-block"}= "Post something to Instagroom"
    = link_to "Posts", user_posts_path(@user), :style => "display:inline-block", :class => "btn btn-greenish offset5"
    = link_to "Logout",logout_path, :style => "display:inline-block", :class => "btn btn-danger "
= form_for @post,url: {action: "create"},:html => { :multipart => true} do |f|
    %fieldset
        %row
            %img{:src=>"http://placehold.it/500x350&text=Thumbnail+Size",:id =>"imagepreview",:style=>"margin-bottom:30px"}
            %div.file-input{:style => "position:relative"}
                %input.input-file{:type => "file",:name =>"file",:id =>"post_file",:onchange =>"readURL(this);",:style => "position:relative;width : 100%;z-index:2;opacity:0"}
                %div.fake-file-input{:style => "position:relative;position:absolute;top:0px;left:0px;width:100%"}
                    %button.btn.btn-info{:type =>"button",:id =>"filebutton",:name =>"filebutton",:onclick=>"click()", :style => "width : 100%;margin-bottom:20px"} Please choose an image

        %br
        %input.input-xlarge{:id => "content",:name=>"post[content]",:type=>"text",:placeholder=>"say something :D",:style => "width : 100%"}
        %br
        %label.radio.inline{:for => "sepia"}
            %input{:id => "sepiaradio",:name=>"effects",:type=>"radio",:value=>"sepia",:onchange=>"sepia()"}
            Sepia
        %label.radio.inline{:for => "grayscale"}
            %input{:id => "grayscaleradio",:name=>"effects",:type=>"radio",:value=>"grayscale", :onchange=>"grayscale()"}
            Grayscale
        %label.radio.inline{:for => "grayscale"}
            %input{:id => "noneradio",:name=>"effects",:type=>"radio",:value=>"none", :onchange=>"none()"}
            None
        %br

        %button.btn.btn-shinyblue#submit{:type =>"button", :style => "margin-top:30px"} Post It to your Instagroom page and share!
