:javascript
    var pixastic = undefined;
    function none(img)
    {
    if(pixastic)
    Pixastic.revert(pixastic)
    }
    function laplace(img){
    if(pixastic)
       Pixastic.revert(pixastic)
        var img2 = Pixastic.process($("#imagepreview")[0], "laplace", {edgeStrength:4.3,invert:false,greyLevel:0});
        pixastic = img2;

    }
    function glow(img) {
        if(pixastic)
       Pixastic.revert(pixastic)
        var img2 = Pixastic.process($("#imagepreview")[0], "glow", {amount:0.34,radius:1.0});
        pixastic = img2;
      }
    function sepia(img) {
        if(pixastic)
       Pixastic.revert(pixastic)
        var img2 = Pixastic.process($("#imagepreview")[0], "sepia");
        pixastic = img2;
      }
        function grayscale(img) {
        if(pixastic)
       Pixastic.revert(pixastic)
        var img2 = Pixastic.process($("#imagepreview")[0], "desaturate");
        pixastic = img2;
      }
      var temp;
     $(document).ready(function()
     {
       $("#submit").click(function() {
       this.disabled = true
       var oMyForm = new FormData($("#new_post")[0]);
        var oReq = new XMLHttpRequest();
        if($('canvas')[0]){
              if ($('canvas')[0].toBlob) {
      $('canvas')[0].toBlob(
        function (blob) {

            oMyForm.append("file", blob);
        },
        'image/jpeg'
          );
        }}
        oReq.open("POST", "/users/1/posts");
        oReq.onload = function(){
        var oBlob = new Blob([oReq.response], { type: "text/html"})
        objectURL = window.URL.createObjectURL(oBlob);
        console.log(objectURL)
        window.location = $("#posts")[0].href
        }
        oReq.send(oMyForm);
        return false;
       });
       $("#imagepreview").click(fullscreen)
        });
.menu{:style => "position:fixed;right:11px;top:20px"}
    .ul{:style => "-webkit-font-smoothing:antialiased;list-style-type:none;border:1px solid rgba(0,0,0,.18);border-radius:6px;background-color:inherited"}
        %li{:style => "-webkit-box-shadow:0 0 2px rgba(0,0,0,.25) inset;-box-shadow:0 0 2px rgba(0,0,0,.25) inset"}
            =link_to "Followers", user_followers_path(@user), :class => "menu-link"
        %li{:style => "-webkit-box-shadow:0 0 2px rgba(0,0,0,.25) inset;-box-shadow:0 0 2px rgba(0,0,0,.25) inset"}
            =link_to "Following", user_following_path(@user), :class => "menu-link"
#container
    .row{:style => "display:inline-block"}
        %h1.page-header.offset4{:style => "display:inline-block"}= "Post something!"
        =link_to root_path do
            %img{:src => "/assets/instagroom logo.png",:style => "position:fixed;left:10px; top:10px;width:250px"}
        = link_to "Your Posts", user_posts_path(@user), :style => "display:inline-block", :class => "btn btn-greenish offset5",:id => "posts"
        = link_to "Logout",logout_path, :style => "display:inline-block", :class => "btn btn-danger "
    = form_for @post,url: {action: "create"},:html => { :multipart => true} do |f|
        %fieldset
            %row
                %img{:src=>"http://placehold.it/500x350&text=Thumbnail+Size",:id =>"imagepreview",:style=>"margin-bottom:30px"}
                %div.file-input{:style => "position:relative"}
                    %input.input-file{:type => "file",:name =>"file",:id =>"post_file",:onchange =>"readURL(this);",:style => "position:relative;width : 100%;z-index:2;opacity:0"}
                    %div.fake-file-input{:style => "position:relative;position:absolute;top:0px;left:0px;width:100%"}
                        %button.btn.btn-info{:type =>"button",:id =>"filebutton",:name =>"filebutton",:onclick=>"click()", :style => "width : 100%;margin-bottom:20px"} Please choose an image

            %br
            %input.input-xlarge{:id => "content",:name=>"post[content]",:type=>"text",:placeholder=>"say something :D",:style => "width : 100%"}
            %br
            %label.radio.inline{:for => "sepia"}
                %input{:id => "sepiaradio",:name=>"effects",:type=>"radio",:value=>"sepia",:onchange=>"sepia()"}
                Sepia
            %label.radio.inline{:for => "grayscale"}
                %input{:id => "grayscaleradio",:name=>"effects",:type=>"radio",:value=>"grayscale", :onchange=>"grayscale()"}
                Grayscale
            %label.radio.inline{:for => "glow"}
                %input{:id => "glowradio",:name=>"effects",:type=>"radio",:value=>"none", :onchange=>"glow()"}
                Glow
            %label.radio.inline{:for => "laplace"}
                %input{:id => "laplaceradio",:name=>"effects",:type=>"radio",:value=>"none", :onchange=>"laplace()"}
                Laplace
            %label.radio.inline{:for => "none"}
                %input{:id => "noneradio",:name=>"effects",:type=>"radio",:value=>"none", :onchange=>"none()"}
                None

            %br

            %button.btn.btn-shinyblue#submit{:type =>"button", :style => "margin-top:30px"} Post It to your Instagroom page and share!
